  body{   
        background: #eee;  
        color: #555;
        font-family: "Verdana";

    }  
    #frm{  
        border: solid gray 1px;  
        width:98%;
	min-height: 800px;
	height: auto;
        border-radius: 2px;  
        margin: 10px auto;  
        background: #f7f7f7;  
        padding: 10px;  
    } 

	#frmIngManual{  
        border: solid gray 1px;  
        width:80%;
	min-height: 300px;
	height: auto;
        border-radius: 2px;  
        margin: 10px auto;  
        background: #f7f7f7;  
        padding: 10px;  
    }	
 
	#logg{  
        border: solid gray 1px;  
        width:25%;  
		height:80px;
        border-radius: 2px;  
        margin: 120px auto;  
        background: white;  
        padding: 50px;  
    }
    #btn{  
        color: #fff;  
        background: #337ab7;  
        padding: 7px;  
        margin-left: 70%;  
		
    }  
	
	#divContenido{
		width:100%;
		background-image: url('../Img/Logo-dif5SUBE.png');
		background-repeat: no-repeat;
		background-position: center;
		min-height: 700px;	
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,Arial,sans-serif;
	}
	
	#divUsuarioSistema{
		width:100%;
		font-weight: bold;
		text-align:right;		
	}
	
	#divNumeroCandado{
		Cursor : pointer;
		text-decoration: underline;
	}
	
	#tblEventos{
		color:darkblue;
		border:2px solid #dddddd;
		width:80%;
		margin: auto;
		align: center;
	}
	
	.panelMantenedor
	{
		background-color: #FFF;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 70%;
	}
	
	.tablaCLientes {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
	
    .tdClientes {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        width: 1%;
        white-space: nowrap;
        border-width: 1px;
        border-color: #dddddd;
    }
	
	
	
	body {margin:0;}
	
	.icon-bar {
            max-width:100%;
            height:auto;
            background-color: #555;
            overflow: auto;
	}
	
	.icon-bar a {
	float: left;
	width: 215px;
	text-align: center;
	padding: 12px 0;
	transition: all 0.3s ease;
	color: white;
	font-size: 38px;
	}
	
	.icon-bar a:hover {
	background-color: #000;
	}
	
	.active {
	background-color: #FC5C01;
	}

	
	
	
	
	
	
    .bg-img {
  /* The image used */
  background-image: url("../Img/bgimage.jpg");

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-imgcorp1 {
  /* The image used */
  background-image: url("../Img/cofodep-logo-1.png");

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.fondo-correcto{z-index:3;display:none;padding-top:30px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.correcto{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:500px;height:100px}


.info, .correcto, .ojo, .error, .validation {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
	color: #4F8A10;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Img/info.jpg');
}
.correcto {
    color: #4F8A10;
    background-color: #DFF2BF;
   /*/ background-image:url('../Img/correcto.jfif'); */
}
.ojo {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../Img/ojo.JPG');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../Img/error.jpg');
}


#contenido_saludo{
	/*background: rgb(255,255,255);*/ 
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	margin-top: auto;
	width: 100%;
	height: 100%;
	
}

 .bienvenido{
	 	 font-size: 50px;
		 color: rgb(255, 255, 255);  
		 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,Arial,sans-serif;

 }
 
 .nombrecic
 {
	 font-size: 67px;
	 color: rgb(255, 255, 255);  
	 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,Arial,sans-serif;
         text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
         -webkit-text-fill-color: #FFFFF;
         /*Hasta aqui bien*/
/*         -webkit-text-stroke: 1px black;*/
      
 }
 
  #logo{
	 background-color: rgb(238, 106, 0);
	 background-image: url("../Img/Logo-SUBE_400.png");
	 background-position: center;
	 background-repeat: no-repeat;
	 margin-top: 118px;
         margin-left: 440px;
	 width: 350px;
	 height: 160px;
	 overflow: hidden;
	 border-radius: 1em;
 }
 


 


.w3-modal-saludo{z-index:3;display:none;padding-top:30px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content-saludo{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:60%; background-image: url('../Img/bgimageeM.gif'); background-repeat: no-repeat; background-size: 900px 480px; border-radius: 1em; height: 62%;}

.w3-modal-C{z-index:3;display:none;padding-top:30px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content-C{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:800px;height:600px}

.w3-modal-B{z-index:3;display:none;padding-top:30px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content-B{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:1200px;height:600px}

.w3-modal{z-index:3;display:none;padding-top:30px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:800px}

.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-display-topright{position:absolute;right:0;top:0}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 
.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}


.w3-button:hover{color:#000!important;background-color:#ccc!important}

/*tr:hover {
    background-color: #0d6efd;
}*/
.hoverTable{
		width:100%; 
		border-collapse:collapse; 
               
	}
.hoverTable td{ 
		padding:2px; border:#ccc 2px solid;
	}
	/* Define the default color for all the table rows */
.hoverTable tr{
		background: transparent;
	}
	/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
          background-color: #fd7e14;
    }
    
    
    /*nuevo */
    * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */
  padding: 12px;  
  background-color: #f1f1f1;
  
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
    
    
